.run-line {
  position: absolute;

  bottom: 0;
}

.run-line__wrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;


  padding: 10px 12px;
  background-color: var(--base-red);

  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  color: var(--base-white);
  font-weight: 400;
  line-height: 24.2px;
  height: 37px;
}

.run-line__wrapper p {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 100%;
  white-space: nowrap;
}

.run-line__wrapper p::after {
  content: '';
  display: block;
  position: relative;
  left: 6px;

  width: 5px;
  height: 5px;
  background-color: var(--base-white);
  border-radius: 50%;
}