.hero__wrapper {
    position: relative;

    background-image: url('../img/stages-bg/1.png'), url('../img/stages-bg/2.png');
    background-size: cover;
    padding-top: 91px;
    min-height: 812px;
    background-color: var(--base-background);

    overflow: hidden;
}


.hero__body {
    overflow: hidden;
}

.hero__slogan-container {
    margin-bottom: 23px;

    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 39.6px;
}

.hero__slogan:nth-child(2) {
    margin-left: 61px;
}

.hero__slogan:last-child {
    margin-left: 27px;
}

.hero__text {
    font-size: 18px;
    line-height: 23.1px;
    margin-bottom: 33px;
}

.hero__link-container {
    display: flex;
    flex-direction: column;
}

.hero__link {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 20px;

    width: 335px;
    height: 47px;
    border-radius: 66px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20.8px;
}


.hero__link--type1 {
    background-color: var(--base-dark-color);
    color: var(--base-white);
    margin-bottom: 13px;
}

.hero__link--type1:focus,
.hero__link--type1:hover {
    background-color: var(--base-orange);
    color: var(--base-dark-color);
}

.hero__link--type2 {
    background-color: var(--base-white);
    color: var(--base-dark-color);
    opacity: 91%;
}

.hero__link--type2:focus,
.hero__link--type2:hover {
    background-color: var(--base-dark-color);
    color: var(--base-white);
    opacity: 1;
}